<% provide(:title, "My Collection") %>

<div class="container">
<div class="table-responsive col-md-6">
<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="7">Top Movers and Shakers</th>
    </tr>
  </thead>
  <tbody>
    <% @mycollection.each do |mycollection| %>
      <tr>
        <td rel="popover" data-container="body" data-html="true" data-content="<img src='/assets/<%= mycollection.setcode_mcinfo %>/<%= mycollection.cardname %>.full.jpg'/>"><%= mycollection.cardname %></td>
		<td><%= mycollection.setcode_mcinfo %></td>
		<td><%= mycollection.language %></td>
		<td><%= mycollection.foil %></td>
		<td><%= mycollection.signed %></td>
		<td><%= mycollection.altered %></td>		
		<td><%= mycollection.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="table-responsive col-md-6">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Cardname</th>
      <th>Set</th>
      <th>Language</th>
      <th>Foil</th>
	  <th>Signed</th>
	  <th>Altered</th>
	  <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @mycollection.each do |mycollection| %>
      <tr>
        <td rel="popover" data-container="body" data-html="true" data-content="<img src='/assets/<%= mycollection.setcode_mcinfo %>/<%= mycollection.cardname %>.full.jpg'/>"><%= mycollection.cardname %></td>
		<td><%= mycollection.setcode_mcinfo %></td>
		<td><%= mycollection.language %></td>
		<td><%= mycollection.foil %></td>
		<td><%= mycollection.signed %></td>
		<td><%= mycollection.altered %></td>		
		<td><%= mycollection.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="table-responsive col-md-12">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Cardname</th>
      <th>Set</th>
      <th>Language</th>
      <th>Foil</th>
	  <th>Signed</th>
	  <th>Altered</th>
	  <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @mycollection.each do |mycollection| %>
      <tr>
        <td rel="popover" data-container="body" data-html="true" data-content="<img src='/assets/<%= mycollection.setcode_mcinfo %>/<%= mycollection.cardname %>.full.jpg'/>"><%= mycollection.cardname %></td>
		<td><%= mycollection.setcode_mcinfo %></td>
		<td><%= mycollection.language %></td>
		<td><%= mycollection.foil %></td>
		<td><%= mycollection.signed %></td>
		<td><%= mycollection.altered %></td>		
		<td><%= mycollection.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

</div>


